
.vs/RTSP_PLAYER/v15/Browse.VC.db
.vs/RTSP_PLAYER/v15/Browse.VC.opendb
*.ipch
*.ipch
.vs/RTSP_PLAYER/v15/ipch/AutoPCH/92ebb4e0d87a04ed/MAINWINDOW.ipch
.vs/RTSP_PLAYER/v15/ipch/AutoPCH/92ebb4e0d87a04ed/MAINWINDOW.ipch
